/* Critical CSS for above-the-fold content */
.bg-black {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-10 {
  z-index: 10;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

.text-4xl {
  font-size: 2.25rem;
}

.leading-09 { 
  line-height: 0.9;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.text-gold {
  color: #FFD700;
}
